
<h1> Hello Project</h1>

<h3>Search For Flights</h3>

<%= simple_form_for :search, method: :get do |f| %>
  <%= f.input :departure_airport, collection: Airport.all.map {|ai| [ai.code, ai.id]} %><br />
  <%= f.input :arrival_airport, collection: Airport.all.map {|ai| [ai.code, ai.id]} %><br />
  <%= f.input :number_of_passengers, collection: 1..4 %><br />
  <%= f.input :start_date, collection: @start_dates %><br />
  <%= f.button :submit, "Search" %>
<% end %>

<div>
  <% if @flights != nil %>
    <%= render "bookings/form", flights: @flights %>
  <% elsif params[:booking] != nil %>
    <%= render "bookings/attending", booking: Booking.new(flight: Flight.find(params[:booking][:flight])), no_of_passengers: params[:booking][:number_of_passengers] %>
  <% end %>
</div>
